// color 
$white: white;
$light-white: rgba(245, 245, 245, 0.836);
$black: black;
$orange: #FC933B;
$dark-blue: #1A3063;
$light-black: rgba(0, 0, 0, 0.103);

// font size 
$font-size-50: calc(0.026041 * 100vw);
$font-size-30: calc(0.015625 * 100vw);
$font-size-20: calc(0.0104166 * 100vw);
$font-size-18: calc(0.009375 * 100vw);

// font weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;